---
import Layout from "../layouts/Layout.astro";
import Expertise from "../components/home/Expertise.astro";
import Hero from "../components/home/Hero.astro";
import Services from "../components/home/Services.astro";
import Portfolio from "../components/home/Portfolio.astro";
import Section from "../components/home/Section.astro"
import "../styles/global.css";
---

<Layout
  description="Stone is a premium Astro theme specially designed for Business, Marketing, SaaS and Startup websites."
  title="Stone · Premium Astro template"
>
  <a href="/about">About</a>
  <Hero />
  <Services />
  <Section/>
  <Portfolio />
  <Expertise />
</Layout>
