



<section class="pb-16 sm:pb-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-12 sm:gap-16">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
          Co oferujemy
        </h2>
        <div class="order-2 mt-8 lg:order-1 lg:mt-0 lg:flex lg:items-center lg:-mx-6">
            <img
              class="object-cover w-full lg:w-1/2 lg:mx-6 h-72 lg:h-96"
              src="https://images.unsplash.com/photo-1598901847919-b95dd0fabbb6?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1374&amp;q=80"
              alt=""
            />
            <div class="mt-8 lg:w-1/2 lg:mx-6 lg:mt-0">
              <h3
                class="font-serif text-2xl text-white capitalize md:text-4xl lg:text-5xl"
              >
                Discover yourself with nature
              </h3>
              <p class="mt-4 text-gray-200">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nisi
                fugiat dicta impedit sed quisquam quas veritatis consectetur neque saepe,
                autem facilis dolore officiis minima explicabo perferendis ab porro
                magnam!
              </p>
              <a
                class="inline-flex px-6 py-3 mt-6 text-white border-2 border-white hover:bg-[#475F45] duration-300 transition-colors"
                href="#"
              >
                Learn More
              </a>
            </div>
          </div>
          <!-- ------------------------------------------------------------- -->
          <div class="order-2 mt-8 lg:order-1 lg:mt-0 lg:flex lg:flex-row-reverse lg:items-center lg:-mx-6">
            <img
              class="object-cover w-full lg:w-1/2 lg:mx-6 h-72 lg:h-96"
              src="https://images.unsplash.com/photo-1598901847919-b95dd0fabbb6?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1374&amp;q=80"
              alt=""
            />
            <div class="mt-8 lg:w-1/2 lg:mx-6 lg:mt-0">
              <h3
                class="font-serif text-2xl text-white capitalize md:text-4xl lg:text-5xl"
              >
                Discover yourself with nature
              </h3>
              <p class="mt-4 text-gray-200">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nisi
                fugiat dicta impedit sed quisquam quas veritatis consectetur neque saepe,
                autem facilis dolore officiis minima explicabo perferendis ab porro
                magnam!
              </p>
              <a
                class="inline-flex px-6 py-3 mt-6 text-white border-2 border-white hover:bg-[#475F45] duration-300 transition-colors"
                href="#"
              >
                Learn More
              </a>
            </div>
        </div>
        
      </div>
    </div>
  </section>
